body,
html{
    min-width: 1440px;
    min-height: 2476px;
}

body{

  /* background-image: url("../img/nerds-catalog.jpg");
    background-size: 1440px auto;
    background-repeat: no-repeat;
    background-position: center top;*/

}

/*------header------*/
/*.main-header{
    background: rgba(76, 255, 100, 0.2);
    box-shadow: 0 0 0 1px #42ff1d;

}

.main-navigation{
    background: rgba(255, 3, 12, 0.55);
    box-shadow: 0 0 0 1px red;
}

.main-header-logo{
    background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}

.site-navigation{
    background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}

.user-navigation{
    background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}

.main-navigation .container{
    background: rgba(22, 22, 255, 0.2);
    box-shadow: 0 0 0 1px #3245ff;
}

/**/
/*.second-header{
    background: rgba(22, 22, 255, 0.2);
    box-shadow: 0 0 0 1px #3245ff;
}*/

/*.container{
    background: rgba(76, 255, 100, 0.2);
    box-shadow: 0 0 0 1px #42ff1d;

}

.page-2 .content{
    background: rgba(76, 255, 100, 0.2);
    box-shadow: 0 0 0 1px #42ff1d;
}*/
/**/

/* filters*/

/*.filters{
    background: rgba(22, 22, 255, 0.2);
    box-shadow: 0 0 0 1px #3245ff;
}

.content-block{
    background: rgba(255, 3, 12, 0.55);
    box-shadow: 0 0 0 1px red;
}

.catalog{
    background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}
*/
/*.filters-range{
    /*background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}

.filters-range-block{
  /*  background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}*/
/*.sort{
    background: rgba(22, 22, 255, 0.2);
    box-shadow: 0 0 0 1px #3245ff;
}

.sort-list{
    background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}

.sort-list li {
    background: rgba(255, 138, 120, 0.55);
    box-shadow: 0 0 0 1px red;
}


.product-info-block{
    background: rgba(22, 22, 255, 0.2);
    box-shadow: 0 0 0 1px #3245ff;
}

*/

/*.container{
    background: rgba(76, 255, 100, 0.2);
    box-shadow: 0 0 0 1px #42ff1d;

}*/

.catalog-list {
    background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}

/*.pagination-list{
    background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}*/

/*.pagination-item{
    box-shadow: 0 0 0 1px red;
}

.pagination-item a{
    box-shadow: 0 0 0 1px yellow;
}*/

/*.write-form p{
    background: rgba(240, 255, 16, 0.2);
    box-shadow: 0 0 0 1px yellow;
}

.modal-write-form{
    background: rgba(50, 69, 255, 0.2);
    box-shadow: 0 0 0 1px blue;
}*/